<div class="row" id="design">
<div class="col s12 m12 l12">
	<div class="container">
		<div class="col s12 m12 l12 center" id="design-services-icon">
			<img src="img/uxicon.svg" alt="">
			<h5>UX & DESIGN</h5>
		</div>
		<div class="col s12 m12 l10 offset-l1" id="design-content">
			<div class="row">
				<div class="col s12 m12 l10 offset-l1" id="design-collapsible-wrap">
					<ul class="collapsible center" data-collapsible="accordion">
		   			 	<li>
		      				<div class="collapsible-header active">
		      					LOGO
		      				</div>
		     			 	<div class="collapsible-body">
		     			 		<p>The logo of a company makes the first impression. A logo is a design that can symbolise your organization. It is used for its letterhead, advertising material, and signs as an emblem by which your business can easily be recognized. Logos tend to be graphical in nature and they are designed to generate favorable thoughts and feelings about your company. </p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		     			 	</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					WEBDESIGN
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Designing a website is always fun for us as it is the visually most appealing part of our work. A great design appeals all visitors and helps them to gather information about the company. There’s a wide spectrum of design trends, from modern, material, abstract, flat to bright, geometric shapes, negative shapes, modular layouts , illustrations.</p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					BRANDBOOK
		      				</div>
		      				<div class="collapsible-body">
		      					<p>A brandbook is essentially a set of rules that explain how your brand works. These guidelines typically include basic information about your brand, often reffered to as a ’style guide’. It consists of an overview of your brand's history, vision, personality and key values. A brandbook is important to keep your identity organized and support the growth and strenght of your business.</p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					INFOGRAPHICS
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Infographics are graphic visual representations of data that are intended to present complex information quickly and clearly. Infographics simplify information in a visually engaging way in order to attract and inform a large audience. They are used in presenting a survey data, simplifying a complicated concept, explaining visually how something works or just showing a visual comparison of a company’s products.</p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					PRINT
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Prominent Media Group can deliver ideas from concept to execution. Depending on your organization, you can customize the colour, type and material of your business
								cards with us. Furthermore we make brochures and any advertising content that you require, for instance bill boards, newspapers, magazines, posters. </p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					MOTION DESIGN
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Motion design applies graphic design principles to filmmaking and video production through the use of animation and visual effects. Examples include films, videos, animated text, web-based animations, apps. One of our uniquely featured motion design technique is 3D videomapping that fascinates viewers in today’s digital world.
								</p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					STORYBOARDING
		      				</div>
		      				<div class="collapsible-body">
		      					<p>A storyboard is a graphic representation of how your commercial will unfold, shot by shot. It's made up of a number of squares with illustrations or pictures representing each shot, with notes about what's going on in the scene and what's being said in the script during that shot. Think of it as sort of a comic book version of your script.
								</p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					MOBILE APP DESIGN
		      				</div>
		      				<div class="collapsible-body">
		      					<p>A mobile app is a software application developed specifically for use on small, wireless   computing devices, such as smartphones and tablets. Apps allow you to customize a phone to your specific set of wants and needs. They are generally easy to find and install, and once you start using them, they will become a necessary part of your mobile life, hence to your customers’ life.</p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					UI & UX
		      				</div>
		      				<div class="collapsible-body">
		      					<p>User interface design is responsible for the transference of a brand’s strengths and visual assets to a product’s interface as to best enhance the user’s experience. It produces graphic presentation, reactivity and interactivity in response to a user’s input, guides, hints, and directives that visually leads users through their interactive experience. While user experience design is the process of enhancing customer satisfaction and loyalty by improving the usability, ease of use, and pleasure provided in the interaction between the customer and the product.</p>
								<%= link_to contact_path do %>
									<button class="quote-button btn waves-effect grey  lighten-5 black-text">
										<strong>
										REQUEST QUOTE
										</strong>
									</button>
								<% end %>
		      				</div>
		    			</li>
		  			</ul>		

				</div>
				<div class="col s12 m8 l8 offset-m2 offset-l2 center">
					<img class="responsive-img" src="img/mac.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<%= render 'pages/related' %>
<script>
if (window.innerWidth <= 993){
			jQuery(".webdesign:lt(3)").show();
		}
else{
	jQuery(".webdesign:lt(4)").show();
}
</script>