  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <ul class="hide-on-med-and-down" id="tabok">

        <li class="tabs-item <%= 'active' if current_page?(home_path) || current_page?(root_path)  %>"><%= link_to 'HOME', home_path %></li>
        
        <li class="tabs-item <%= 'active' if current_page?(whyus_path) %>"><%= link_to 'WHY US?', whyus_path %></li>
        
        <li class="tabs-item">
          <a class="dropdown-button" data-activates="dropdown1">SERVICES<i class="material-icons right">arrow_drop_down</i></a></li>

        <li class="tabs-item">
        <%= link_to root_path, class: 'tabs-link' do %>
          <img class="responsive-img" id="logo" src="/img/prominent_logo.svg" alt="">
        <% end %>
        </li>
        
        <li class="tabs-item <%= 'active' if current_page?(works_path) %>"><%= link_to 'WORKS', works_path %></li>
        
        <li class="tabs-item <%= 'active' if current_page?(contact_path) %>"><%= link_to 'CONTACT', contact_path %></li>
        
        <li class="tabs-item navicon-wrap">
          <a href="">
            <img src="img/facebooknavicon.svg" alt="">
          </a>
          <a href="">
            <img src="img/instanavicon.svg" alt="">
          </a>
          <a href="">
            <img src="img/youtubenavicon.svg" alt="">
          </a>
        </li>

      </ul>

      <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

      <%= link_to root_path, class: 'tabs-link brand-logo hide-on-large-only' do %>
          <img class="responsive-img" id="logo" src="/img/prominent_logo.svg" alt="">
      <% end %>

    </div>
  </nav>
  </div>
  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li class="<%= 'active' if current_page?(design_path) %>"><%= link_to 'Design', design_path %></li>
  <li class="<%= 'active' if current_page?(development_path) %>"><%= link_to 'Development', development_path %></li>
  <li class="<%= 'active' if current_page?(marketing_path) %>"><%= link_to 'Marketing', marketing_path %></li>
  <li class="<%= 'active' if current_page?(production_path) %>"><%= link_to 'Production', production_path %></li>
</ul>

<ul id="nav-mobile" class="side-nav">
  <li class="<%= 'active' if current_page?(home_path) || current_page?(root_path) %>"><%= link_to 'HOME', home_path %></li>
  <li class="<%= 'active' if current_page?(whyus_path) %>"><%= link_to 'WHYUS', whyus_path %></li>
  <li class="<%= 'active' if current_page?(design_path) %>"><%= link_to 'DESIGN', design_path %></li>
  <li class="<%= 'active' if current_page?(development_path) %>"><%= link_to 'DEVELOPMENT', development_path %></li>
  <li class="<%= 'active' if current_page?(marketing_path) %>"><%= link_to 'MARKETING', marketing_path %></li>
  <li class="<%= 'active' if current_page?(production_path) %>"><%= link_to 'PRODUCTION', production_path %></li>
  <li class="<%= 'active' if current_page?(works_path) %>"><%= link_to 'WORKS', works_path %></li>
  <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to 'CONTACT', contact_path %></li>
</ul>
